@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}

#formcol1 li {   
	list-style:none;
}

label{
  	margin-right: .3em;
  	width: 6.3em;
 	display: inline-block;
}

#formcol1 input.reqfield {
	background:rgb(0, 51, 255);
}

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
color: #000000 !important;
background-color: #fbff00 !important;}

